body {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.x-button {
    float: right;
    background: none;
    color: crimson;
    border: none;
    font-weight: bold;
    font-size: larger;;
}

.form-nav {
    padding: 0%;
    width: 100%;
}

.form-nav li {
    list-style-type: none;
    display:inline-block;
}

.form-nav li a {
    width: 100%;
    text-decoration: none;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

.form-container-div {
    margin: 0px 30%;
    padding: 20px 40px;
    padding-bottom: 32px;
    align-items: center;
    background-color: white;
}

.form-container-div form {
    width: 480px;
}

.form-container-div form input[type="submit"]{
    width: 100%;
}

.pagination {
    display: flex;
    gap: 0px;
    justify-content: center;
    margin-top: 0px;
    margin: 0px;
    padding: 0px;
}
.page-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
}
.page-button:hover {
    color: #0056b3;
    text-decoration: underline;
}
.page-button:active {
    color: #003f7f;
}
